<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>KH EduERP | 학생목록</title>
  <link rel="stylesheet" href="/styles/default.css" />
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="/styles/admin.css" />
</head>

<body class="admin admin-student-list">
  <!-- 사이드바 -->
  <aside class="sidebar">
    <div>
        <div class="logo">
            <span>KH EduERP</span>
        </div>
      <ul class="menu">
        <li class="active">학생관리</li>
        <li>강사관리</li>
        <li>일정관리</li>
        <li>출결현황</li>
        <li>공지사항</li>
        <li>문의</li>
      </ul>
    </div>
    <footer>© 2025 KH</footer>
  </aside>

  <!-- 메인 -->
  <main class="main">
    <header class="topbar">
      <div class="path">관리자 › 학생목록 <b>관리자 페이지</b></div>
      <div class="user-info">관리자(Admin)</div>
    </header>

    <section class="content student-list">
      <h2>학생목록</h2>

      <table class="student-table">
        <thead>
          <tr>
            <th>이름</th>
            <th>과정</th>
            <th>연락처</th>
            <th>출석률</th>
            <th>상태</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>김이서</td>
            <td>Java/Spring</td>
            <td>010-1111-2222</td>
            <td>99%</td>
            <td>재학</td>
          </tr>
          <tr>
            <td>유한정</td>
            <td>AI/데이터분석</td>
            <td>010-3333-4444</td>
            <td>83%</td>
            <td>재학</td>
          </tr>
          <tr>
            <td>신윤주</td>
            <td>데이터분석</td>
            <td>010-5555-6666</td>
            <td>79%</td>
            <td>재학</td>
          </tr>
          <tr>
            <td>김기수</td>
            <td>Java/Spring</td>
            <td>010-7777-8888</td>
            <td>59%</td>
            <td>재학</td>
          </tr>
          <tr>
            <td>유부은</td>
            <td>Java/Spring</td>
            <td>010-8888-9999</td>
            <td>99%</td>
            <td>재학</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</body>
</html>
