<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>KH EduERP | 출결정정 신청</title>
  <link rel="stylesheet" href="/styles/default.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/student.css">
</head>

<body class="student student-attendance">
  <!-- 사이드바 -->
  <aside class="sidebar">
    <div>
        <div class="logo">
            <span>KH EduERP</span>
        </div>
      <ul class="menu">
        <li>대시보드</li>
        <li>일정조회</li>
        <li class="active">출결정정</li>
        <li>강의만족도</li>
        <li>상담신청</li>
        <li>성적조회</li>
        <li>문의</li>
      </ul>
    </div>
    <footer>© 2025 KH</footer>
  </aside>

  <!-- 메인 -->
  <main class="main">
    <header class="topbar">
      <div class="path">학생 › 출결정정 <b>학생페이지</b></div>
      <div class="user-info">알림(<span>2</span>) 홍길동(학생)</div>
    </header>

    <section class="content attendance-correction">
      <!-- 정정신청 폼 -->
      <div class="card correction-form">
        <h2>출석정정 신청</h2>

        <div class="form-group">
          <label>정정 사유</label>
          <textarea placeholder="사유를 입력하세요."></textarea>
        </div>

        <div class="form-row">
          <div class="form-col">
            <label>정정할 날짜</label>
            <input type="date">
          </div>
          <div class="form-col">
            <label>변경 요청 유형</label>
            <select>
              <option>출석</option>
              <option>지각</option>
              <option>결석</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label>첨부파일</label>
          <input type="file">
        </div>

        <div class="form-submit">
          <button class="btn-submit">제출</button>
        </div>
      </div>

      <!-- 처리 현황 -->
      <div class="card correction-status">
        <h2>처리 현황</h2>

        <table>
          <thead>
            <tr>
              <th>신청일</th>
              <th>정정 사유</th>
              <th>처리일</th>
              <th>승인상태</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>9/17</td>
              <td>지각 정정</td>
              <td>9/28</td>
              <td><span class="status pending">대기</span></td>
            </tr>
            <tr>
              <td>8/26</td>
              <td>결석 정정</td>
              <td>8/31</td>
              <td><span class="status approved">승인</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
</body>
</html>
