<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>KH EduERP | 문의 상세보기</title>

  <link rel="stylesheet" href="styles/default.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/lecture.css">
</head>
<body class="lecture lecture-inquiry-detail">
  <!-- 사이드바 -->
  <aside class="sidebar">
    <div>
      <div class="logo"><span>KH EduERP</span></div>
      <ul class="menu">
        <li>학생조회</li>
        <li>출결관리</li>
        <li>일정관리</li>
        <li>상담관리</li>
        <li>출결정정 처리</li>
        <li>만족도 결과</li>
        <li>공지사항</li>
        <li class="active">문의</li>
      </ul>
    </div>
    <footer>© 2025 KH</footer>
  </aside>

  <!-- 메인 -->
  <main class="main">
    <header class="topbar">
      <div class="path">강사 › 문의 <b>상세보기</b></div>
      <div class="user-info">알림(<span>2</span>) 김강사(강사)</div>
    </header>

    <section class="content">
      <div class="inquiry-detail-card has-answer">
        <!-- 상단 -->
        <div class="inquiry-header">
          <input type="text" value="성적관련" readonly>
          <input type="text" value="작성일 : 10/05" readonly class="align-right">
        </div>

        <!-- 본문 -->
        <div class="inquiry-body">
          <p class="meta">문의 : 유학생</p>
          <p class="text">
            고양이가 알람을 껐는데 봐주면 출석 정정 신청 되나요?
          </p>

          <div class="answer-box">
            <p class="meta">답변 : 강사 <span>답변일 : 10/06</span></p>
            <p class="text">
              고양이 사진 보내주면 봐드리겠습니다.
            </p>
          </div>
        </div>

        <!-- 하단 -->
        <div class="inquiry-footer">
          <button class="btn-back">뒤로가기</button>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
